.receipt-container {
  padding: 20px;
  width: 75vw;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: white;
}

.receipt-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar input:focus {
  outline: none;
  border-color: #007bff;
}

/* User list */
.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.user-item span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.view-billing-btn, .view-receipt-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: #000;
  position: relative;
  transition: color 0.3s ease;
}

.view-billing-btn:hover, .view-receipt-btn:hover {
  color: #007bff; /* Change color on hover */
}

/* Tooltip styling */
.tooltip {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the button */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.view-billing-btn:hover .tooltip,
.view-receipt-btn:hover .tooltip {
  visibility: visible;
  opacity: 1; /* Show tooltip on hover */
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

p {
  text-align: center;
  color: #888;
}
